<%= form_with(model: productwatcher) do |form| %>
  <% if productwatcher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(productwatcher.errors.count, "error") %> prohibited this productwatcher from being saved:</h2>

      <ul>
        <% productwatcher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>    
    <%= form.label t("productwatcher.lable.status"), style: "display: block" %>
    <%= form.text_field :status,placeholder: t("productwatcher.placeholder.status"), class:"form-group"%>
  </div>
  <div>
    <%= form.label t("productwatcher.lable.user"), style: "display: block" %>
    <%= form.number_field :user_id, id: :productwatcher_user_id, value: current_user.id,placeholder: t("productwatcher.placeholder.user"), class:"form-group"%>
  </div>
  <div>    
    <%= form.label t("productwatcher.lable.product"), style: "display: block" %>
    <%= form.number_field :product_id, id: :productwatcher_product_id , placeholder: t("productwatcher.placeholder.product"), class:"form-group"%>
  </div> 
  <div>
    <%= form.submit t("productwatcher.action.add"), class: "btn btn-success"%>
  </div>
<% end %>

