<p style="color: green"><%= notice %></p>

<h1><%= t("productwatcher.heading.index")%></h1>

<%= link_to t("productwatcher.action.new"), new_productwatcher_path %>
<div id="productwatchers">
  <% @productwatchers.each do |productwatcher| %>
    <%= render productwatcher %>
    <p>
      <%= link_to t("productwatcher.action.show"), productwatcher %>
    </p>
  <% end %>
</div>
<%= paginate @productwatchers %>
