<p style="color: green"><%= notice %></p>

<%= render @productwatcher %>

<div>
  <%= link_to t("productwatcher.action.edit"), edit_productwatcher_path(@productwatcher) %> |
  <%= link_to t("productwatcher.action.back"), productwatchers_path %>
  <br/>
  <%= button_to t("productwatcher.action.destroy"), @productwatcher, method: :delete %>
</div>
