<div id="<%= dom_id company %>">
  <p>
    <strong><%=t("company.lable.name")%>:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong><%=t("company.lable.description")%>:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong><%=t("company.lable.code")%>:</strong>
    <%= company.code %>
  </p>

  <p>
    <strong><%=t("company.lable.logo_link")%>:</strong>
    <%= company.logo %>
  </p>

</div>
