<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= company.code %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= company.logo %>
  </p>

</div>
