<tr id="<%= dom_id company %>">
  <th scope="row"><%= link_to company.id, company %></th>
  <td><%= company.name %></td>  
  <td><%= company.description %></td>  
  <td><%= company.code %></td>  
  <td><%= company.logo %></td>  
</tr>