<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to t("company.action.edit"), edit_company_path(@company) %> |
  <%= link_to t("company.action.back"), companies_path %>

  <%= button_to t("company.action.destroy"), @company, method: :delete, class: 'btn btn-danger' %>
</div>
