<p style="color: green"><%= notice %></p>

<h1><%= t("purchaseorder.heading.index")%></h1>

<div id="purchaseorders">
  <% @purchaseorders.each do |purchaseorder| %>
    <%= render purchaseorder %>
    <p>
      <%= link_to t("purchaseorder.action.show"), purchaseorder %>
    </p>
  <% end %>
</div>

<%= link_to  t("purchaseorder.action.new"), new_purchaseorder_path %>
