<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group ">
      <%= form.label t("product.lable.name"),  class:"form-label mb-12", for:"formName" %>
      <%= form.text_field :name, placeholder: t("product.placeholder.name"),  id:"formName", class:"form-control mb-12" %>
    </div>
    <div class="form-group">
      <%= form.label t("product.lable.description"),  class:"form-label", for:"formDescription" %>
      <%= form.text_field :description, placeholder: t("product.placeholder.description"), id:"formDescription", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label t("product.lable.code"),  class:"form-label", for:"formCode" %>
      <%= form.text_field :code , placeholder: t("product.placeholder.code"), id:"formCode", class:"form-control"%>
    </div>
    <div class="form-group">
      <%= form.label t("product.lable.price"), class:"form-label", for:"formPrice" %>
      <%= form.number_field :price , placeholder: t("product.placeholder.price"), id:"formPrice", class:"form-control"%>
    </div>
    <div class="form-group">
      <%= form.label t("product.lable.image_link"),  class:"form-label", for:"formImage" %>
      <%= form.text_field :image_link, placeholder: t("product.placeholder.image_link"), id:"formImage", class:"form-control" %>
    </div>
    <div class="form-group "> 
      <%= form.label t("product.lable.category"),  class:"form-label", for:"formCategory" %>
      <% if @product.category == nil %>        
        <%= form.number_field :category_id, id: :category_product_id, value: 0 , id:"formCategory", class:"form-control"%>
      <% else %>
        <%= form.number_field :category_id, id: :category_product_id, value: @product.category.id , id:"formCategory", class:"form-control"%>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.submit t("product.action.save"),  class: 'btn btn-primary'%>
    </div>
<% end %>
