<div id="<%= dom_id product %>">
  <p>
    <strong><%= t("product.lable.name")%>:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong><%= t("product.lable.description")%>:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong><%= t("product.lable.code")%>:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong><%= t("product.lable.price")%>:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong><%= t("product.lable.image_link")%>:</strong>
    <%= product.image_link %>
  </p>

</div>
