<div class="row mt-2 mb-2">
   <div class="col-md-12">
      <div class="mb-12">
         <div class="card-body">
            <!-- Rails content -->    
            <% if user_signed_in? %>    
            <%= link_to "New product", new_product_path %>
            <% end %>
            <br/>
            <% if @products.present? %>
              <div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex"
               style="min-height: 85vh;">
                  <!-- Row for the card-->
                  <div class="row w-100 p-0 w-0">                   
                      <% @products.each do |product| %>
                        <%= render "product_tile", product: product %>                                          
                      <%end%>
                  </div>
              </div>
              <%= paginate @products%>
            <%elsif search_string == nil%>
            <div class="m-3">   
               <%= t("application.common.lable.no_records_found")%>
            </div>   
            <%else %>                    
            <div class="m-3">
               <%= t("application.common.lable.no_records_found_for",search_key: search_string)%>
            </div>
            <%end%>
         </div>
      </div>
   </div>   
</div>
