<p style="color: green"><%= notice %></p>

<%= render @product %>
<%= render "productwatchers/form", productwatcher: @productwatcher, locals: {product_id: @product.id}%>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>  
  <%= button_to "Destroy this product", @product, method: :delete , class: 'btn btn-danger'%>
</div>
