<p style="color: green"><%= notice %></p>

<%= render @product %>
<%= render "productwatchers/watch", productwatcher: @productwatcher, locals: {product_id: @product.id}%>

<div>
  <%= link_to t("product.action.edit"), edit_product_path(@product) %> |
  <%= link_to t("product.action.back"), products_path %>  
  <%= button_to t("product.action.destroy"), @product, method: :delete , class: 'btn btn-danger'%>
</div>
