<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'home/header'%>
    <div class="container mt-2">    
      <%= render 'layouts/alert'%>        
      <%= yield %>
    </div>
  </body>

</html>